// For alert's heading box-shadow

@mixin alert-heading-bs($color) {
  box-shadow: rgba($color, 0.4) 0px 6px 15px -7px;
}

// Sweet Alert
.global-dialog {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
}